lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# node js
node_modules
npm-debug.log
.npmrc

# gulp recipes
.recipe
.reciperc

# IntelliJ resources
*.iml
*.ipr
*.iws

#mac
.DS_Store

#development
dist
